---
// src/components/ui/Alert.astro
---
<div id="alert-box" class="alert hidden shadow-lg mb-4 transition-all duration-300 text-sm">
  <div id="alert-icon-container"></div>
  <div>
    <h3 class="font-bold" id="alert-title">Info</h3>
    <div class="" id="alert-message">Message here</div>
  </div>
</div>